<tasti come chi siamo, la nostar storia -->, mettere foto -->
			
		</div>
	</section>
</body>

  <!-- sidebar -->
<section id= "barrasotto">


		<div id="dove"> 	
			<h2> Dove ci troviamo? </h2>
			<p> La nostra sede legale si trova a Troina (EN) in Via Nazionale 318 int.b </p>		
		</div>

		<div id= "contatti"> 
			<h2> <b>Categorie</b> </h2> 
			<a href="nebrodi.html"> HOME </a>
			<a href="lavori.html"> LAVORI </a>
			<a href="contatti.html"> CONTATTACI </a> 
		</div>

		<div id="contatti2"> 
			<h2>Contattaci</h2> 
			<div id="box-contatti"> 
				<a> nebrodicostruzioni@virgilio.it </a>
				<a> Telefono: 0935.072237 </a> 
				<a> Fax: +39 0935.656731 </a>
    			 </div> 
		</div>
</section>

  <!-- cresits e footer -->

<footer>
     
	<small>2020 NEBRODI COSTRUZIONI GENERALI S.R.L.. Designed by Silvestro </small> 
	<button id="credits">CREDITS </button>
     
	<h5 id="lingua"> Italiano </h5>
</footer>


<div class="overlay" id="pop">
	<div class="popup">
		<h2>CREDITS - SOURCES</h2>
		<h3> What are the sources of our photos? </h3>



		<p>The photos of the Home page are taken from burst.shopify.com by Shopify </p>

<p> Others are photos  took at some building-sites, made by Nebrodi Costruzioni Generali s.r.l.</p>

		<span id="close">X</span>
	</div>



<script src="neb.js"></script>
</html>    