v>
</section>

  <!-- cresits e footer -->

<footer>
     
	<small>2020 NEBRODI COSTRUZIONI GENERALI S.R.L.. Designed by Silvestro </small> 
	<button id="credits">CREDITS </button>
     
	<h5 id="lingua"> Italiano </h5>
</footer>


<div class="overlay" id="pop">
	<div class="popup">
		<h2>CREDITS - SOURCES</h2>
		<h3> What are the sources of our photos? </h3>



		<p>The photos of the Home page are taken from burst.shopify.com by Shopify </p>

<p> Others are photos  took at some building-sites, made by Nebrodi Costruzioni Generali s.r.l.</p>

		<span id="close">X</span>
	</div>



<script src="neb.js"></script>
</html>    